<nav class="navbar navbar-light bg-light">
    <span class="navbar-brand mb-0 h1">Welcome to Burgers!</span>
</nav>

<div class="container">

    <div class="row mx-auto">

        <section class="col-sm-4 left border">
            <h2>Ready To Eat</h2>

            <ul>
                {{#each burgers}}
                {{#if is_devoured}}
                {{> burgers/burger-block is_devoured=false}}
                {{/if}}
                {{/each}}
            </ul>

        </section>

        <section class="col-sm-4 middle border">

            <h2>Add a Burger</h2>
            <form class="create-form">

                <div class="form-group">
                    <label for="ca">Burger Name:</label>
                    <input type="text" id="ca" name="name">
                </div>

                <div class="form-group">
                    <label for="is_devoured">Devoured?</label><br>
                    <input type="radio" name="is_devoured" value="0" checked> Devoured<br>
                    <input type="radio" name="is_devoured" value="1"> Not Devoured
                </div>

                <button type="submit">Add Burger</button>
            </form>

        </section>


        <section class="col-sm-4 right border">
            <h2>Already Eaten</h2>

            <ul>
                {{#each burgers}}
                {{#unless is_devoured}}
                {{> burgers/burger-block is_devoured=true}}
                {{/unless}}
                {{/each}}
            </ul>

        </section>

    </div>





</div>